# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build do React
build/
dist/

# Cypress
cypress/
cypress.config.js

# Sistema
.DS_Store